<div class="logding_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit>
    <li class="active">
    <%= image_tag('cafe_meal_carousel/CafeMeal2.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Adams Dorm
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal6.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal8.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Test
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal9.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
     <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal10.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal11.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal15.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>

    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal15x.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal19.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal22.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal23.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal25.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal26.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal31.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal33.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal35.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal37.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal39.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal48.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal52.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal54.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal56.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal57.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal60.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
     <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal61.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_meal_carousel/CafeMeal62.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
  </ul>
</div>
