<div class="logding_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit>
    <li class="active">
    <%= image_tag('cafe_carousel/CafePic1.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic2.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic3.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Test
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic4.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
     <li>
    <%= image_tag('cafe_carousel/CafePic5.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic6.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic7.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>

    <li>
    <%= image_tag('cafe_carousel/CafePic8.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic10.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic11.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic12.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic13.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic17.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic18.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic33.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic36.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic40.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic41.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic42.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
    <li>
    <%= image_tag('cafe_carousel/CafePic43.jpg', alt: 'Cafe') %>
    <div class="orbit-caption">
      Text
    </div>
    </li>
  </ul>
</div>
