<div class="row">
  <div class="large-12 medium-12 columns main">
     <h1><%= image_tag('new_logo.png', alt: 'Logo', 'data-interchange' => "[#{image_path('new_logo.png')}, (retina)]") %></h1>
     <p>
      Tucked away on its own bend along the stream, perched under a grove of black oaks,
      the Yosemite Bug Rustic Mountain Resort has a magical feel. Located only
      26 miles away from Yosemite Valley along California's scenic,
      open all year Highway 140. The Bug offers a relaxed and social
      atmosphere where families, backpackers and international travelers
      all find welcome and a variety of affordable accomodations and amenities
      an old time mountain resort would have.
     </p>
     <p>
      <b>"One of our favorite places to stay..."</b>
       <a href="http://www.latimes.com/travel/la-tr-d-escape-yosemite-20150705-story.html">LA Times July 4, 2015</a>
     </p>
  </div>
</div>
<hr />
<div class="row panel bg">
  <hr>
  <div class="large-2 columns">
    <div>Private</div>

    <%= image_tag 'rooms/thumbs/thumb_bear_min.jpg', alt: 'Image' %>
    <br> <br>

    <div>Private Shared</div>
    <%= image_tag 'rooms/thumbs/thumb_MonoLakeA.jpg', alt: 'Image' %>
    <br> <br>
    <div>Private Room</div>
    <%= image_tag 'rooms/thumbs/thumb_SolomonA.jpg', alt: 'Image' %>
    <br> <br>

  </div>
  <div class="large-8 columns">
    <div class="peruse">
      Lodgings
    </div>
    <div class="orbit-container">
      <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:7000;">
        <li class="active">
          <%= image_tag('rooms/AnselDormImageLodgingCarousel.jpg', alt: 'slide 1') %>
          <div class="orbit-caption">
          Ansel Dorm
          </div>
        </li>
        <li>
          <%= image_tag('rooms/bear_min.jpg', alt: 'slide 1') %>
          <div class="orbit-caption">
          Bear A
          </div>
        </li>
          <li>
          <%= image_tag('rooms/ChilnualnaFallsBLodgingImageCarsousel.jpg', alt: 'slide 2') %>
          <div class="orbit-caption">
          Tent Cabin
          </div>
        </li>
        <li>
          <%= image_tag('rooms/DormCabinExtImageLodgingCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Dorm Cabin Exterior
          </div>
        </li>
         <li>
          <%= image_tag('rooms/HorsetailFallsAImageLOdgingCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Tent Cabin
          </div>
        </li>
         <li>
          <%= image_tag('rooms/HorsetailFallsBxLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Tent Cabin
          </div>
        </li>
         <li>
          <%= image_tag('rooms/MonoLakeALodgingCarouselImage.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Mono Lake A
          </div>
        </li>
         <li>
          <%= image_tag('rooms/MonoLakeBxLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Mono Lake B
          </div>
        </li>
         <li>
          <%= image_tag('rooms/PrivateRoomCabinImageCarsousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Private Room Cabin
          </div>
        </li>
         <li>
          <%= image_tag('rooms/PrivateRoomCommunalBathImageLodgingCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Private Shared Bath
          </div>
        </li>
         <li>
          <%= image_tag('rooms/SolomonMineAlodgingimagecarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Solomon Mine A
          </div>
        </li>
         <li>
          <%= image_tag('rooms/SolomonMineBlodgingimage carousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Solomon Mine B
          </div>
        </li>
         <li>
          <%= image_tag('rooms/SweetwaterMineBxLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Sweetwater Mine A
          </div>
        </li>
         <li>
          <%= image_tag('rooms/TentCabinExtLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Tent Cabin Exterior
          </div>
        </li>
          <li>
          <%= image_tag('rooms/TentCabinRegularFamLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Tent Cabin Family
          </div>
        </li>
          <li>
          <%= image_tag('rooms/WawonaAxLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Wawona A
          </div>
        </li>
          <li>
          <%= image_tag('rooms/WawonaBxLodgingCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Wawona B
          </div>
        </li>
          <li>
          <%= image_tag('rooms/YosemiteBugLodgingCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
          Lodge
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="large-2 columns">
    <div>Tent Cabin</div>
    <%= image_tag 'rooms/thumbs/thumb_ChilnualnaFallsBLodgingImageCarsousel.jpg', alt: 'Image' %>
    <br> <br>
    <div>Dorm</div>
    <%= image_tag 'rooms/thumbs/thumb_AnselDormImageLodgingCarousel.jpg', alt: 'Image' %>
    <br> <br>
    <div>Private Share</div>
    <%= image_tag 'rooms/thumbs/thumb_PrivateRoomCommunalBathImageLodgingCarousel.jpg', alt: 'Image' %>
    </br>
    <a href="#" class="button secondary">Book Us</a>

   </div>
<br>
<div class="row">
  <div class="container">
    <div class="large-6 medium-6 columns homebody">
      <h1>Value</h1>
      <p>At the Bug we feature a variety of lodgings to suit any budget.
        From well appointed private rooms in cabins, vacation rentals,
        to tent cabins and Hostelling International licensed hostel dorms.</p>
    </div>

    <div class="large-6 medium-6 columns homebody clear-fix">
      <%= image_tag('rooms/MonoLakeBxLodgingImageCarousel.jpg', alt: 'Logo', 'data-interchange' => "[#{image_path('rooms/MonoLakeBxLodgingImageCarousel.jpg')}, (retina)]") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="large-6 medium-6 columns homebody">
      <h1>Quality</h1>
      <p>At the Bug we continue to focus upon the freshest fare with quatily ingredients
        We do our best to source locally, including our own garden.</p>
    </div>

    <div class="large-6 medium-6 columns homebody clear-fix">
      <%= image_tag('garden.png', alt: 'Logo', 'data-interchange' => "[#{image_path('garden.png')}, (retina)]") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="large-6 medium-6 columns homebody">
      <h1>Rejuvinate</h1>
      <p>The Yosemite Health Spa provides a beautiful and relaxing atmosphere for
        travelers to restore their bodies after their adventures in the area</p>
    </div>

    <div class="large-6 medium-6 columns homebody clear-fix">
      <%= image_tag('garden.png', alt: 'Logo', 'data-interchange' => "[#{image_path('garden.png')}, (retina)]") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 medium-6 columns">
    <h4>Latest News:</h4>
    <div class="panel">
      <h5> <%= @article.title %> </h5>
      <h6 class="subheader"> <%= truncate( @article.content, length: 800, separator: " ", :escape => false) %> </h6>
      <a href="#" class="small button">Read More</a>
    </div>
  </div>
  <div class="large-6 medium-6 columns">
    <h4>Recent Tweets:</h4>
     <p><%= render :template => 'tweet_feed/index' %></p>
  </div>
</div>


<div class="row">
<hr>
  <div class="large-12 columns">
    <div class="class row">
      <h4>You might also like:</h4>
      <div class="class large-3 columns">
      <%= image_tag('rooms/thumbs/thumb_lodging.jpg', alt: '') %>
      <div>Cafe</div>
      </div>
      <div class="class large-3 columns">
        <%= image_tag('rooms/thumbs/thumb_spa.jpg', alt: '') %>
        <div>Spa</div>
      </div>
      <div class="class large-3 columns">
        <%= image_tag('rooms/thumbs/thumb_cafe.jpg', alt: '') %>
        <div>Groups</div>
      </div>
       <div class="class large-3 columns">
      <%= image_tag('rooms/thumbs/google_bug.png') %>
      <div>Directions</div>
      </div>
    </div>
  </div>
</div>
