
<div class="peruse">
  Lodging
</div>

<div class="index_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:10000;">
    <li class="active">
    <%= image_tag('index_orbit/PRIAVTEROOMQUEENANDTWIN.jpg', alt: 'Private Room With Queen and Twin Bed') %>
    <div class="orbit-caption">
      Private Room with Queen and Twin Bed
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMBATH.jpg', alt: 'Private Room Bath', class: 'orbit_image') %>
    <div class="orbit-caption">
      Private Room Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMQUEENANDTWOTWINS.jpg', alt: 'Private Room With Queen and Two Twins') %>
    <div class="orbit-caption">
      Private Room with Queen and Two Twins
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMQUEENBED.jpg', alt: 'Private Room With Queen Bed') %>
    <div class="orbit-caption">
      Private Room with Queen Bed
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSCABIN.jpg', alt: 'Private Room Exterior') %>
    <div class="orbit-caption">
      Private Exterior
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHDOUBLE.jpg', alt: 'Private Room With Shared Bath') %>
    <div class="orbit-caption">
      Private Room with Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHORFAMILYCABIN.jpg', alt: 'Private Family') %>
    <div class="orbit-caption">
      Private Room or Family Cabin
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHQUAD.jpg', alt: 'Private Room Shared Bath Quad') %>
    <div class="orbit-caption">
      Private Quad Room with Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHQUEEN.jpg', alt: 'Private Room With Queen Bed and Shared Bath') %>
    <div class="orbit-caption">
      Private Room with Queen Bed and Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHQUEENANDBUNK.jpg', alt: 'Private Room With Queen Bed and Bunk, Shared Bath') %>
    <div class="orbit-caption">
      Private Room with Queen Bed and Bunk, Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMSHAREDBATHQUEENANDTWIN.jpg', alt: 'Private Room With Queen Bed and Twin') %>
    <div class="orbit-caption">
      Private Room with Queen Bed and Twin, Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMTWOQUEENS.jpg', alt: 'Private Room With Two Queen Beds') %>
    <div class="orbit-caption">
      Private Room with Two Queen Beds
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMWITHBATHCABIN.jpg', alt: 'Private Cabin With Bath') %>
    <div class="orbit-caption">
      Private Cabin with Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMWITHBATHQUAD.jpg', alt: 'Private Quad With Bath') %>
    <div class="orbit-caption">
      Private Quad Room with Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMWITHBATHQUEENTWIN.jpg', alt: 'Private Room Queen/Twin with Bath') %>
    <div class="orbit-caption">
      Private Room Queen/Twin with Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/PRIVATEROOMWITHTWOQUEENS.jpg', alt: 'Private Room Two Queen Beds') %>
    <div class="orbit-caption">
      Private Room with Two Queen Beds
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/QUADSHAREDBATH.jpg', alt: 'Private Quad With Shared Bath') %>
    <div class="orbit-caption">
      Private Quad with Shared Bath
    </div>
    </li>

    <li>
    <%= image_tag('index_orbit/SHAREDBATHTWINS.jpg', alt: 'Private Room Twins With Shared Bath') %>
    <div class="orbit-caption">
      Private Room Twins with Shared Bath
    </div>
    </li>
    <!-- End Private Room Images -->

  </ul>
  <center> <a href="#" class="button alert">Book Us</a></center>
</div><!-- End Orbit -->

