<div class="row">
  <div class="large-6 columns">Amenities</div>
  <div class="large-6 columns"><%= image_tag('spa_carousel/Amenities.jpg', alt: 'Amenities') %></div>
</div>

<div class="row">
  <div class="large-6 columns"><%= image_tag('spa_carousel/MassageTherapy.jpg', alt: 'Amenities') %></div>
  <div class="large-6 columns">Massage</div>
</div>

<div class="row">
  <div class="large-6 columns">Hot Tub</div>
  <div class="large-6 columns"><%= image_tag('spa_carousel/HotTubSaunaRainShower.jpg', alt: 'Amenities') %></div>
</div>

<div class="row">
  <div class="large-6 columns"><%= image_tag('spa_carousel/SoakingBaths.jpg', alt: 'Amenities') %></div>
  <div class="large-6 columns">Soaking</div>
</div>

<div class="row">
  <div class="large-6 columns">Yoga</div>
  <div class="large-6 columns"><%= image_tag('spa_carousel/YogaClass.jpg', alt: 'Amenities') %></div>
</div>
