
<div class="row">
  <div class="large-6 large-push-6 columns">
  <center><b>Amenities</b></center>

<p>
  The Yosemite Health Spa provides a beautiful and relaxing atmosphere for
  travelers to restore their bodies after their adventures in the area.
  A $10 day pass includes access to a custom 12 person H2O2 UV spring fed
  stainless steel hot tub, cold-rain shower, cedar hot-rock sauna, and a seven
  jet shower in our deluxe changing rooms.
</p>
<p>
  Guests can also receive massages, body scrubs, specialty baths in private tubs,
  and practice personal or group yoga. All spa rooms open out to large sunny decks
  with seating and scenic views of the Bear Creek Canyon for dining, sipping tea,
  or simply relaxing in the embrace of nature.
</p>
  </div>
  <div class="large-6 large-pull-6 columns "><%= image_tag('spa_carousel/Amenities.jpg', alt: 'Amenities') %></div>
  <hr>
</div>

<div class="row">
  <div class="large-6 large-push-6 columns"><%= image_tag('spa_carousel/MassageTherapy.jpg', alt: 'Amenities') %></div>
  <div class="large-6 large-pull-6 columns ">
    <center> <b>Massage</b></center>
    <p>
      $75 one hour. Available 10am to 9pm daily. Our treatment rooms are differing
      decor rooms with asian flair with candles, music, water features and warm
      hardwood floors. Facility use is included.
    </p>
    <p>
      Our Therapists offer Synergy style massage. Schedule appointments in advance
      or upon check-in. Deep Tissue available at $10 extra.
    </p>
  </div>
  <hr>
</div>

<div class="row">
  <div class="large-6 large-push-6 columns">
    <center> <b>Hot Tub</b> </center>
    <p>
      Large cedar sauna with hot rocks with eucalyptus water. Jump under the
      cold rain shower adjacent after sauna use or into our stainless steel hot tub.
    </p>
    <p>
      Our spring fed hot tub is kept bacteria-free without the use of harsh chemicals.
      Hydrogen peroxide (H2O2) and ultra violet light are used to maintain the tub,
      as well as to support your overall wellness by delivering much-needed oxygen to your cells.
    </p>
  </div>
  <div class="large-6 large-pull-6 columns "><%= image_tag('spa_carousel/HotTubSaunaRainShower.jpg', alt: 'Amenities') %></div>
  <hr>
</div>

<div class="row">
  <div class="large-6 large-push-6 columns"><%= image_tag('spa_carousel/SoakingBaths.jpg', alt: 'Amenities') %></div>
  <div class="large-6 large-pull-6 columns ">
    <center><b>Soaking</b></center>
    <p>
      Enjoy the many benefits of Cool Water Therapy with this 30-minute private soak.
      Blended with a refreshing mixture of citrus, wintergreen and eucalyptus essential oils,
      baking soda and Epsom salt, this bath is sure to cool you down and rev you up.
      Cool Water Therapy has been proven to be beneficial with relief of sore muscles,
      increased energy and circulation. Other benefits include strengthened immunity,
      detoxification, and increased metabolism. Cool Water Therapy is also known to improve
       the sheen of your hair and tightens cuticles and pores in your skin, leaving you looking
       smooth and revitalized.
    </p>
  </div>
  <hr>
</div>

<div class="row">
  <div class="large-6 large-push-6 columns">
    <center> <b>Yoga</b></center>
      <p>
        Join in on a Yoga class, and for $5 you can have full access to the hot tub,
        sauna and cold rain shower (Reg. value at $10)
        <br>
        <b>Saturday Mornings : 8am - 930am <br>
        Sunday Evenings: 6pm - 7:30pm </b>
      </p>
    </div>
  <div class="large-6 large-pull-6 columns "><%= image_tag('spa_carousel/YogaClass.jpg', alt: 'Amenities') %></div>
</div>
