<div class="container">
  <div class="row">
    <div class="large-12">
      <center> <h1>Panorama Placeholder</h1> </center>
    </div>
  </div>
</div>

<!-- Private Rooms -->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 large-push-3 columns">
      <div class="orbit-container">
        <%= render 'lodging_private_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 large-pull-9 columns">
      <p>
      Hotel standard all individually themed with rich decor.
      Our private rooms are in duplex cabins and have a variety of bed
      arrangements in the booking setup.  Amenities include memory
      foam mattresses, down white duvet covered comforters and bath linens,
      shampoo, lotion & Dr Bronner dispensers, small fridges, half closet with
      hangers, showers, some baths, hair dryers, rich old refinished & new decor,
      decks with chairs, lamps, clocks, heating & cooling, baggage racks,
      soft chairs & daily housekeeping.  There is internet signal but no TV’s
      or phones.  Book whole cabin for family of eight.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Private Shared -->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 columns">
      <div class="orbit-container">
        <%= render 'lodging_shared_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 columns">
      <p>
      PRIVATE ROOMS SHARED BATHS
      Old European private standard for less.  These private rooms are in family
      cabins and also have a variety of bed arrangements.  The are a bit smaller
      and the quads have bunk beds.  The very clean bathrooms are used by only
      the two rooms in the cabin.  Amenities include memory foam mattresses, down
      white duvet covered comforters & bath towels, showers only, hair dryers,
      nice refinished old & new decor, decks with chairs, lamps, clocks, heating
      & cooling, soft chairs & daily housekeeping.  There is internet signal
      but no TV’s or phones.  Book whole cabin for family of six.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Family Rooms -->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 large-push-3 columns">
      <div class="orbit-container">
        <%= render 'lodging_family_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 large-pull-9 columns">
      <p>
      FAMILY DORMITORY WITH SHARED BATHS
       Inexpensive option for friends or family.  Small four person two bunk room
       using the nice semi-private clean shared baths & laundry downstairs.  One
       bunk has a full size bottom bunk.  Linens on beds with folded blankets,
       towels & three day housekeeping.  Amenities include desk, chair, lamp,
       locker, central heating and A/C.  Internet signal.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Starlite and Barn-->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 columns">
      <div class="orbit-container">
        <%= render 'lodging_starlite_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 columns">
      <p>
      VACATION RENTALS
      Perfect for family & friends who need a larger space for comraderie.
      One house and one flat on the Starlite side of the property.  You must walk
      a windy forested path or drive a couple of minutes to main complex.

      The Starlite House is a hippy built & fully decorated three bedroom house.
      The small In Law has a bath and full bed, the house a porch with a day bed,
      one queen bedroom, one queen & bunk bedroom, small bath with shower downstairs
      and large with bath upstairs.  Full kitchen, dining area, living room & laundry.
      The country Barn Studio has a one room living kitchen dining area, a small bunk
      room and a large queen bedroom with a small attached bath with tub shower.

      Amenities include memory foam mattresses, down white duvet covered comforters
      and bath linens, shampoo, lotion & Dr Bronner dispensers, fully stocked and
      furnished kitchen, hangers, hair dryers, rich old refinished & new decor,
      decks with tables & chairs, lamps, clocks, heating & cooling, baggage racks,
      soft chairs & daily housekeeping.  There is internet signal, flat screen
      cable TV & telephones.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Dorm Rooms -->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 large-push-3 columns">
      <div class="orbit-container">
        <%= render 'lodging_dorms_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 large-pull-9 columns">
      <p>
      HOSTEL DORMITORIES
      Whether for backpackers or groups this is the true social essence of world
      travel.  These cabins are generally split into two rooms three bunks each
      with semi private each shower, toilet & sink rooms.  Amenities include 24
      hour access rooms & guest kitchen, bed linens with folded blankets, towels,
       extra blankets, reading lights, memory foam mattresses, backpack size
       lockers, desks & chairs, metal bunks, window shades, carpeting, cubicles,
       heating & cooling.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Heated Tent Cabins-->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 columns">
      <div class="orbit-container">
        <%= render 'lodging_heated_tent_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 columns">
      <p>
        HEATED TENT CABINS
        This is true glamping, with real furniture, decor and heaters.
        These small wooden framed, rubberized canvas covered tents have heating,
        lights and electricity.  They also have a variety of of bed arrangements.
        Semi private clean camp style bathrooms & laundry are up to 200 feet away up
        or down hillside stairs.
        Amenities include lit pathways, heaters, extra blankets, fans, & screen doors.
      </p>
    </div>
  </div>
</div>
<hr>
<!-- Tent Cabins -->
<div class="container">
  <div class="row">
    <div class="medium-9 large-9 large-push-3 columns">
      <div class="orbit-container">
        <%= render 'lodging_tent_orbit' %>
      </div>
    </div>
   <div class="class medium-3 large-3 large-pull-9 columns">
      <p>
    REGULAR TENT CABINS
    Perfect inexpensive fun for California’s long warm season.
    These small wooden framed, rubberized canvas covered tents have simple furniture,
    heating, lights and electricity.  They also have a variety of of bed arrangements.
    Semi private clean camp style bathrooms & laundry are up to 200 feet away up or
    down hillside stairs.  Amenities include lit pathways, lots of extra comforters,
    fans & screen doors.
      </p>
    </div>
  </div>
</div>
