    <div class="class large-12 columns">
      <div class="class large-5 columns">
        Private Rooms-  Descriptions Place Holder

    </div>
    <div class="class large-7 columns">
      Carousel of Private Room Images:
      <b>Some Comment About Private Rooms</b>
      <div class="orbit-container">
        <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:3000;">
          <li>
             <%= image_tag('rooms/bear_min.jpg', alt: 'slide 1') %>
            <div class="orbit-caption">
              Bear.
            </div>
          </li>
          <li class="active">
            <%= image_tag('rooms/MonoLakeALodgingCarouselImage.jpg', alt: 'slide 2') %>
            <div class="orbit-caption">
              Mono.
            </div>
          </li>
          <li>
            <%= image_tag('rooms/MonoLakeBxLodgingImageCarousel.jpg', alt: 'slide 3') %>
            <div class="orbit-caption">
              Caption Three.
            </div>
          </li>
        </ul>
      </div>
      <p>Some Paragraph or Inforamtion Here?</p>
      <b> Fill In Comments? </b>
    </div>
  </div>

    <div class="class large-12 columns">

    <div class="class large-7 columns">
      Carousel of Dorm Room Images:
      <b>Some Comment About Private Rooms</b>
      <div class="orbit-container">
        <ul class="private_share_rooms_orbit" data-orbit>
          <li>
             <%= image_tag('rooms/DormCabinExtImageLodgingCarousel.jpg', alt: 'slide 1') %>
            <div class="orbit-caption">
              Bear.
            </div>
          </li>
          <li class="active">
            <%= image_tag('rooms/AnselDormImageLodgingCarousel.jpg', alt: 'slide 2') %>
            <div class="orbit-caption">
              Mono.
            </div>
          </li>
          <li>
            <%= image_tag('rooms/MonoLakeBxLodgingImageCarousel.jpg', alt: 'slide 3') %>
            <div class="orbit-caption">
              Caption Three.
            </div>
          </li>
        </ul>
      </div>
      <p>Some Paragraph or Inforamtion Here?</p>
      <b> Fill In Comments? </b>
    </div>
          <div class="class large-5 columns">
        Dorms?-  Descriptions Place Holder

    </div>
  </div>

  <div class="class large-12 columns">
    <div class="class large-5 columns">
    Tent Cabins Descriptions Place Holder
    </div>
    <div class="class large-7 columns">
      Carousel of Tent Room Images:
      <b>Some Comment About Tent Rooms</b>
      <div class="orbit-container">
        <ul class="tent_rooms_orbit" data-orbit>
          <li>
           <%= image_tag('rooms/HorsetailFallsAImageLOdgingCarousel.jpg', alt: 'slide 1') %>
            <div class="orbit-caption">
              HorseTail A.
            </div>
          </li>
        <li class="active">
          <%= image_tag('rooms/HorsetailFallsBxLodgingImageCarousel.jpg', alt: 'slide 2') %>
            <div class="orbit-caption">
              HorseTail B.
            </div>
        </li>
        <li>
          <%= image_tag('rooms/ChilnualnaFallsBLodgingImageCarsousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
            Chill.
          </div>
        </li>
        <li>
          <%= image_tag('rooms/TentCabinExtLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
            Chill.
          </div>
        </li>
        <li>
          <%= image_tag('rooms/TentCabinRegularFamLodgingImageCarousel.jpg', alt: 'slide 3') %>
          <div class="orbit-caption">
            Chill.
          </div>
        </li>
        </ul>
      </div>
      <p>Some Paragraph or Inforamtion Here?</p>
      <b> Fill In Comments? </b>
    </div>
  </div>
