<div class="logding_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:10000;">
    <li class="active">
    <%= image_tag('lodging_carousel_shared/BEARMINEA.jpg', alt: 'Bear Mine A') %>
    <div class="orbit-caption">
      Bear Mine A
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/BEARMINEB.jpg', alt: 'Bear Mine B') %>
    <div class="orbit-caption">
      Bear Mine B
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/BUFFALOMINEA.jpg', alt: 'Buffallo Mine A') %>
    <div class="orbit-caption">
      Buffallo Mine A
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/BUFFALOMINEB.jpg', alt: 'Buffallo Mine B') %>
    <div class="orbit-caption">
      Buffalo Mine B
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/SOLOMONMINEA.jpg', alt: 'Solomon Mine A') %>
    <div class="orbit-caption">
      Solomon Mine A
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/SOLOMONMINEB.jpg', alt: 'Solomon Mine B') %>
    <div class="orbit-caption">
      Solomon Mine B
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/SWEETWATERMINEA.jpg', alt: 'Sweet Water Mine A') %>
    <div class="orbit-caption">
      Sweet Water Mine A
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/SWEETWATERMINEB.jpg', alt: 'Sweet Water Mine B') %>
    <div class="orbit-caption">
      Sweet Water Mine B
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/FAMILYCABINORPRIVATEROOMSSHAREDBATHSEXTERIOR.jpg', alt: 'Faminly Cabin or Private Shared') %>
    <div class="orbit-caption">
      Family Cabin or Private Shared Bath
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_shared/SHAREDBATH.jpg', alt: 'Shared Bath') %>
    <div class="orbit-caption">
      Shared Bath
    </div>
    </li>

</div>
