<div class="logding_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:10000;">
    <li class="active">
    <%= image_tag('lodging_carousel_starlite/BARNEXTERIOR.jpg', alt: 'Barn Studio') %>
    <div class="orbit-caption">
      Barn Studio Exterior
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_starlite/BARNSTUDIO.jpg', alt: 'Barn Studio') %>
    <div class="orbit-caption">
      Barn Studio
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_starlite/BARNSTUDIOBATHROOM.jpg', alt: 'Barn Studio Bath') %>
    <div class="orbit-caption">
      Barn Studio Bathroom
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_starlite/BARNSTUDIOBEDROOM.jpg', alt: 'Barn Studio Bedroom') %>
    <div class="orbit-caption">
      Barn Studio Bedroom
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/BARNSTUDIOBUNKROOM.jpg', alt: 'Barn Studio Bunk') %>
    <div class="orbit-caption">
      Barn Studio Bunk
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITEHOUSEANDINLAWEXTERIOR.jpg', alt: 'StarLite House In Law') %>
    <div class="orbit-caption">
      Starlite House and In Law Exterior
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLIGHTLIVINGROOM.jpg', alt: 'Starlite Living Room') %>
    <div class="orbit-caption">
      Starlite Living Room
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITEBATHROOM.jpg', alt: 'Starlite Bathroom') %>
    <div class="orbit-caption">
      Starlite Bathroom
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITEBEDROOMTRIPLE.jpg', alt: 'Starlite Triple') %>
    <div class="orbit-caption">
      Starlite Triple
    </div>
    </li>
      <li>
    <%= image_tag('lodging_carousel_starlite/INLAWDOUBLE.jpg', alt: 'In Law Double') %>
    <div class="orbit-caption">
      In Law Double
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITEDININGROOM.jpg', alt: 'Starlite Dining Room') %>
    <div class="orbit-caption">
      Starlite Dining Room
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITELOWERBATHROOM.jpg', alt: 'Starlite Bathroom') %>
    <div class="orbit-caption">
      Starlite Bath Room
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_starlite/STARLITEPORCHROOM.jpg', alt: 'Starlite Porch Room') %>
    <div class="orbit-caption">
      Starlite Porch Room
    </div>
    </li>
</div>
