 <div class="row">
  <div class="large-3 columns">
    <h1><%= image_tag('new_logo.png', alt: 'Logo', 'data-interchange' => "[#{image_path('new_logo.png')}, (retina)]") %></h1>
  </div>
    <div class="large-9 columns right">
        <div class="row collapse">
          <div class="large-10 small-8 columns">
            <p>
            Tucked away on its own bend along the stream, perched under a grove of black oaks,
            the Yosemite Bug Rustic Mountain Resort has a magical feel. Located only
            26 miles away from Yosemite Valley along California's scenic,
            open all year Highway 140. The Bug offers a relaxed and social
            atmosphere where families, backpackers and international travelers
            all find welcome and a variety of affordable accomodations and amenities
            an old time mountain resort would have.
          </p>
          </div>

          <div class="large-2 small-4 columns">
            Text
          </div>
        </div>
    </div>
</div>

<div class="row">
  <hr>
  <div class="large-2 columns">
    <%= image_tag 'rooms/thumbs/thumb_AnselDormImageLodgingCarousel.jpg', alt: 'Image' %>
    <br> <br>
    <%= image_tag 'rooms/thumbs/thumb_bear_min.jpg', alt: 'Image' %>
    <br> <br>
    <%= image_tag 'rooms/thumbs/thumb_ChilnualnaFallsBLodgingImageCarsousel.jpg', alt: 'Image' %>
    <br> <br>
    <%= image_tag 'rooms/thumbs/thumb_PrivateRoomCommunalBathImageLodgingCarousel.jpg', alt: 'Image' %>
  </div>

  <div class="large-7 columns">
    <div class="orbit-container">
      <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:3000;">
        <li>
          <%= image_tag('cafe_diner.JPG', alt: 'slide 1') %>
          <div class="orbit-caption">
          Bear.
          </div>
        </li>
          <li class="active">
          <%= image_tag('valey.JPG', alt: 'slide 2') %>
          <div class="orbit-caption">
          Mono.
          </div>
        </li>
        <li>
          <%= image_tag('spa.JPG', alt: 'slide 3') %>
          <div class="orbit-caption">
          Caption Three.
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="large-3 columns">
    <h4>Some Content</h4>
    <div class="panel">
      This is a Panel-
    </div>

  </div>
  </div>

  <div class="row">
  <hr/>
    <div class="large-6 columns">
    <h4>This is a content section placeholder</h4>

  </div>
  <div class="large-6 columns">
    <h4>Content Section Place Holder</h4>
  </div>

  </div>

  <div class="row">
  <hr>
  <div class="large-12 columns">
    <div class="class row">
    <h4>You might also like:</h4>
    <div class="class large-3 columns">
      <%= image_tag('rooms/thumbs/thumb_lodging.jpg', alt: '') %>
      Lodging
    </div>
       <div class="class large-3 columns">
      <%= image_tag('rooms/thumbs/thumb_cafe.jpg', alt: '') %>
      Cafe
    </div>
       <div class="class large-3 columns">
      <%= image_tag('rooms/thumbs/thumb_spa.jpg', alt: '') %>
      Spa
    </div>
       <div class="class large-3 columns">
      <img src="http://lorempixel.com/output/nature-q-c-200-150-8.jpg">
      Book Us
    </div>
  </div>
</div>
</div>
